/* section */
header {
  display: flex;
  width: 100%;
  padding: 30px 30px 0 30px;
}
header figure.logo {
  flex: 0 0 100px;
  margin: 0;
}
header nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
header nav ul {
  display: flex;
}
header nav li {
  padding: 0 10px;
}

main {
  width: 100%;
  background: #24282f;
}
main .logo {
  margin: 0;
}
main section {
  max-width: 1226px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 95px 0;
}

.card {
  background: #3c3e44;
  color: #fff;
  border-radius: 10px;
  flex: 1 1 400px;
  margin-bottom: 25px;
  display: flex;
  max-height: 220px;
}
.card:nth-of-type(odd) {
  margin-right: 25px;
}
.card figure {
  margin: 0;
  flex: 0 1 220px;
}
.card figure img {
  border-radius: 10px 0 0 10px;
}
.card .character__info {
  display: flex;
  flex-flow: column;
  padding: 15px;
  flex: 1;
}
.card .character__info a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/*# sourceMappingURL=style.css.map */
