@import "lib/variables";
@import "lib/header";
@import "lib/main";
@import "lib/cards";
* {
  box-sizing: border-box;

}
body {
  margin: 0;
  font-family: $font-family;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $font-color--main;
}

img {
  max-width: 100%;
  max-height: 100%;
}